header {
  background-color: #cc8aaf; // #cc6666;
}
.header-content {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  align-items: center; /*centering vertical items - works with flex-box*/
  min-height: 80px;
}
@media all and (max-width: 500px) {
  .header-content {
    flex-direction: column-reverse;
    padding: 10px 0; //!important
  }
}

.logo {
  font-family: "Cooper Black", sans-serif;
  font-style: italic;
  font-size: 28px;
  letter-spacing: -1px;
  color: #1e1e1e;
  &:hover {
    color: #5a0000;
  }
}


