// TodoList.tsx styles

.todos {
  max-width: 1200px;
  margin: 0 auto;
}

.todo {
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);

  span { // item with title
    width: calc(100% - 65px); //65px - width for buttons
    padding: 0 5px;
    word-wrap: break-word;
  }

  &.completed span {
    text-decoration: line-through;
    color: #3c0c0d;
    font-weight: 700;
  }

  label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    background: #f5f5f5;
  }

  .deleteIcon { // delete Btn
    background-color: #d1766f;
    padding: 0 8px;
    background-image: url(../img/deleteStatic.svg);
    background-size: 100%; //cover
    &:hover {
      background-color: #b96460;
      background-image: url(../img/deleteAnimated.gif);
    }
  }

  .editIcon {
    background-color: lightblue;
    padding: 0 8px;
    background-image: url(../img/editStatic.svg);
    background-size: 100%;
    margin-right: 3px;
    &:hover {
      background-image: url(../img/editAnimated.gif);
    }
  }
}

// buttons
.btn {
  border-radius: 5px;
  color: white;
  text-align: center;
  transition: .2s;
  cursor: pointer;
  //z-index: 2;
  //opacity: 0;
}

// ----- TodoForm.tsx, addIcon
.addIcon {
  position: absolute;
  right: 0;
  width: 20px;
  margin-bottom: 3px;
  background-color: rgba(138, 230, 141, 0.5);
  &:hover {
    background-color: rgba(122, 204, 126, 0.7);
  }
}

// the delete button is visible only if the mouse is on the li item
//.todo:hover {
//  .deleteIcon {
//    opacity: 1;
//  }
//}






